!!! 5
%html
  %head
    %title Riak Control
    %link{rel: 'stylesheet', href: 'css/riak_control.css', media: 'screen', type: 'text/css'}
  %body
    %h1 fartzzzzz
    %p toot
    %ul#toots
    - %w{json2.js zepto.min.js underscore-min.js backbone-min.js raphael-min.js g.raphael-min.js application.js}.each do |js|
      %script{type: 'text/javascript', src: "js/#{js}"}